h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: normal;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.container{
    width: 1170px;
    height: 1650px;
    display: flex;
    /* border: 1px solid red; */
    margin-top: 178px;
}
.container .shop{
    width: 100px;
    height: 87px;
    /* border: 1px solid blue; */
}
.container .shop h2{
    font-size: 12px;
    font-weight: bold;
}
.container ul{
    margin-top: 20px;
    margin-left: 20px;
}
.container ul li a{
    font-size: 12px;
    line-height: 2em;
}
/* .container ul .active{
    height: 22px;
    width: 75px;
    border: 1px solid crimson;
    border-bottom: 2px solid rgb(150, 150, 150);
} */

.container .product{
    width: 1070px;
    height: 1500px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .product .items{
    width: 350px;
    height: 400px;
    /* border: 1px solid dodgerblue; */
    margin: 2.5px;
    /* padding: 20px; */
    /* margin: 5px; */
}
.container .product .items .image{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.container .product .items img{
    width: 300px;
    height: 180px;
}
.container .product .details{
    width: 350px;
    height: 200px;
    text-align: center;
}
.container .product .details p{
    font-size: 12px;
    line-height: 1.5em;
}