body{
    font-size: 15px;
    line-height: 2em;
}
h1{
    font-weight: normal;
    text-decoration: underline;
    color: blue;
}
a{
    text-decoration: none;
}
.copy{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    word-spacing: 15px;
    direction: rtl;
}
.text{
    color: green;
    text-indent: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul{
    font-size: 40px;
    line-height: 1.4em;
    list-style: none;
}
ul li::before{
    content: "★ ";
}